<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">FICHA DE INSCRIÇÃO</div>
            <h:panelGroup style="text-align: left; margin-bottom: 10px;" layout="block">
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="cpf" value="CPF"/>
                    <h:inputText id="cpf" label="CPF" size="15"/>
                    <h:outputLabel for="rg" value="RG"/>
                    <h:inputText id="rg" label="RG" maxlength="20"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="nome" value="Nome"/>
                    <h:inputText id="nome" size="50"
                                 label="Nome" maxlength="100"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="endereco" value="Endereço"/>
                    <h:inputText id="endereco" size="50"
                                 styleClass="ui-inputfield" label="Endereço" maxlength="80"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="cidade" value="Cidade"/>
                    <h:inputText id="cidade" size="50"
                                 styleClass="ui-inputfield" label="cidade" maxlength="50"/>
                    <h:outputLabel for="estado" value="Estado"/>
                    <h:inputText id="estado" size="4"
                                 styleClass="ui-inputfield" label="Estado" maxlength="2"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="cep" value="CEP"/>
                    <h:inputText id="cep" label="CEP" size="10"/>
                    <h:outputLabel for="bairro" value="Bairro"/>
                    <h:inputText id="bairro" size="30" label="Bairro" maxlength="50"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="fone" value="Fone"/>
                    <h:inputText id="fone" label="Fone" size="15"/>
                    <h:outputLabel for="celular" value="Celular"/>
                    <h:inputText id="celular" label="Celular" size="15"/>
                </h:panelGroup>
            </h:panelGroup>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
